.golf {
  overflow-x: hidden;
}

.card {
  position: relative;
  max-width: 600px;
  margin: 50px 15px;
  padding: 20px;
  background-color: white;
  font-family: 'Architects Daughter', cursive;
  text-shadow: none;

  img {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(6px, -20px) rotate(33deg);
      border-radius: 50%;
  }
}

.card__row {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  gap: 10px;
}

.card__cell,
.card__heading {

  &:first-child {
    justify-content: flex-start;
    min-width: 120px;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 10px;
  border: 1px dashed rgba(0, 0, 0, 0.33);
  background: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.77);
  font-size: 16px;

  .card__row--worse & {
    background: rgba(255, 165, 165, 0.22);
  }
}

.card__heading {
  border: 0;
  background: none;
  color: rgba(0, 0, 0, 0.2);
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-style: italic;
  font-weight: bold;
}

.loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  transition: width .33s, opacity 5s;
  opacity: 0;
  background: black;

  &.visible {
    transition: width .33s, opacity .1s;
    opacity: 1;
  }
}

.loading-text {
  margin-left: 10px;
  opacity: 0.5;
  font-size: .5;
}
