.golf {
  overflow-x: hidden;
}

.card {
  position: relative;
  max-width: 600px;
  margin: 70px 15px 25px 0;
  padding: 20px;
  background-color: white;
  font-family: 'Architects Daughter', cursive;
  text-shadow: none;
  color: #333;
  border-radius: 5px;

  img {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(6px, -20px) rotate(33deg);
      border-radius: 50%;
      background-color: #ffe864;
      width: 100px;
      height: 100px;
      object-fit: contain;
  }

  @media (orientation: portrait) {
    transform: rotate(0deg) !important;
  }
}

.card__row {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 5px;
  gap: 10px;

  &--space {
    margin-top: 13px;
    margin-bottom: 13px;
  }
}

.card__cell,
.card__heading {

  &:first-child {
    justify-content: flex-start;
    min-width: 120px;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 10px;
  border: 1px dashed rgba(0, 0, 0, 0.33);
  background: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.77);
  font-size: 16px;

  &--big {
    font-size: 1.5em;
    border: 0;
    min-width: 0 !important;
  }

  &--free {
    min-width: 0 !important;
  }

  &--btn {
    background: repeating-linear-gradient(
      45deg,
      white,
      white 10px,
      #EDF3EC 10px,
      #EDF3EC 20px
    );
    text-align: center;
    justify-content: center !important;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    transition: box-shadow .33s;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-style: italic;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.33);
    cursor: pointer;
  }
}

.card__heading {
  border: 0;
  background: none;
  color: rgba(0, 0, 0, 0.2);
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-style: italic;
  font-weight: bold;
}

.loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  transition: width .33s, opacity 5s;
  opacity: 0;
  background: black;

  &.visible {
    transition: width .33s, opacity .1s;
    opacity: 1;
  }
}

.loading-text {
  margin-left: 10px;
  opacity: 0.5;
  font-size: .5;
}

.card__lang {
  display: inline-block;
  margin: 5px 5px 5px 0;
  opacity: .5;

  &:not(:first-child) {
    &::before {
      content: '+ '
    }
  }
}

.card__bubble {
  position: absolute;
  top: -27px;
  right: 0;
  transform: translateY(-100%) rotate(-7deg);
  background: rgba(0, 0, 0, 0.33);
  color: #EDF3EC;
  font-family: monospace;
  font-size: .8rem;
  line-height: 1.1;
  text-align: center;
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
  padding: 5px 30px;
  max-width: 200px;

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.33) transparent;
    border-width: 10px 10px 0;
    bottom: -10px;
    right: 30px;
    margin-left: -10px;
  }
}

