.lights {

  .inner {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/glass.svg');
    background-size: cover;
    box-shadow: 0 0 50px 50px inset #fff;
    z-index: 0;
    animation: lights-pulse 6s infinite alternate-reverse, lights-shift 30s infinite linear alternate-reverse;
  }
}

@keyframes lights-shift {
  100% {
    background-position: 500px 1000px, 300px 300px, -400px 400px;
  }
}

@keyframes lights-pulse {
  from {
    opacity: .7;
  }

  to {
    opacity: .9;
  }
}
