.lights {
  box-shadow: 0 0 50px 50px inset #fff;

  .inner {
    position: relative;
    z-index: 1;
  }

  &::before,
  .inner::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/glass.svg');
    background-size: cover;
    z-index: 0;
    animation: lights-pulse 6s infinite alternate-reverse;
    will-change: opacity;
    pointer-events: none;
  }

  .inner::before {
    width: 150%;
    height: 150%;
    transform: scaleX(-1);
    animation: lights-pulse 10s infinite alternate-reverse;
  }
}

@keyframes lights-pulse {
  from {
    opacity: .2;
  }

  to {
    opacity: .3;
  }
}
